{% extends 'base.html.twig' %}

{% block title%} Projects {% endblock %}

{% block body %}

  {% if projects %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>PROJECT Title</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {%  for project in projects %}
          <tr>
            <td>{{ project.name }}</td>
            <td>
              <a href="/project/{{ project.id }}" class="btn btn-dark">Show</a>
            </td>

            <td>
              <a href="/project/{{ project.id }}/release/new" class="btn btn-info">add release</a>
            </td>
            <td>
              <a href="/project/{{ project.id }}/release" class="btn btn-info">show release</a>
            </td>
            <td>
              <a href="/project/update/{{ project.id }}" class="btn btn-info">Update</a>
            </td>
            <td>
              <a href="/project/delete/{{ project.id }}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p></p>
  {% endif %}

{% endblock %}