{% extends 'base.html.twig' %}

{% block title%}New Project {% endblock %}

{% block body %}

 <h1>project</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end (form) }}

{% endblock %}