{% extends 'base.html.twig' %}

{% block title%} {{ project.name }} {% endblock %}

{% block body %}
  <h1>{{ project.name }}</h1>
  <p>{{ project.description }}</p>
  <p>{{ project.createdAt }}</p>
  <p>{{ project.deadline }}</p>
<hr>
  <a href="/project" class="btn btn-light">Go Back</a>
{% endblock %}