{% extends 'base.html.twig' %}

{% block title%}Update Project {% endblock %}

{% block body %}

  <h1>Update Project</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end (form) }}

{% endblock %}