{% extends 'base.html.twig' %}

{% block title %}Hello ClaimsController!{% endblock %}

{% block body %}

    {% if claims %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>claims Title</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {%  for claim in claims %}
                <tr>
                    <td>{{ claim.id }}</td>
                    <td>
                        <a href="/project/{{ ids }}/release/{{ id}}/report/{{ claim.id }}" class="btn btn-dark">show report</a>
                    </td>


                    <td>
                        <a href="/project/update/{{ claim.id }}" class="btn btn-info">Update</a>
                    </td>
                    <td>
                        <a href="/project/{{ ids }}/release/{{ id}}/report/delete/{{ claim.id }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p></p>
    {% endif %}

{% endblock %}